body {
    font-size: 18px;
    line-height: calc(27px/18px);
    font-family: 'Neue Machina', sans-serif;
    font-weight: 400;
    background-color: #010101;
    color: $white;
    overflow-x: hidden;
    @include sm{
        font-size: 16px;
    }
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    margin: 0 0 10px;
}
h2{
    font-weight: 800;
    font-size: 51px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 20px;
    & span{
        color: #CCF300;
    }
    @include mmd{   
        font-size: 45px;
    }
    @include sm{   
        font-size: 40px;
    }
}
p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    @include transition;
}

.boxed-btn, .inline-btn{
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: $white;
    padding: 18px 36px;
    display: inline-block;
    background: $blackLight;
    border: 1px solid $black;
    border-radius: 8px;
    margin-top: 30px;
    &:hover{
        background: #fff;
        color: #010101;
        border-color: #FFFFFF;
    }
}
.boxed-btn.yellow{
    background: #CCF300;
    color: #010101;
    &:hover{
        background: #fff;
        border-color: #FFFFFF;
    }
}
.inline-btn{
    border: 1px solid #CCF300;
    color: #CCF300;
    background: transparent;
}


.container{
    @media only screen and (min-width:1200px) {
        max-width: 1235px;
    }
}
input,
textarea,
button {
    padding: 10px 25px;
    border: 1px solid #f1f1f1;
    outline: none;
    @include transition;
    &::placeholder{
        position: relative;
        left: 0;
    }
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: #f3f3f3;
    &::placeholder{
        left: 3px;
        opacity: 0;
    }
}

nav ul li {
    display: inline-block;
    position: relative;
    @include transition;
}


/*Hide number spin button*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.section{
    &-title{
        margin-bottom: 80px;
        @include md{
            margin-bottom: 60px
        }
        @include sm{
            margin-bottom: 40px;
        }
        & h3{
            @include font-38;
            @include md{
                margin-bottom: 30px !important;
            }
            @include ssm{
                font-size: 23px;
            }
            &+p{
                @include font-38;
                font-weight: 400;
                @include md{
                    font-size: 24px
                }
                @include sm{
                    font-size: 18px
                }
                @include ssm{
                    font-size: 16px;
                }
            }
        }
        
    }
}

.social_icons{
    @include flex;
    justify-content: center;
    gap: 40px;
    & a{        
        font-size: 30px;
        color: $white;
        @include sm{
            font-size: 24px;
        }
        &:hover{
            opacity: .8;
        }
    }
}

.progress{
    border-radius: 0 !important;
    --bs-progress-height: 17px;
    background-color: rgba($color: $primary, $alpha: .20);
    &-bar{
        --bs-progress-bar-bg: $primary;
        background-color: rgba($color: $primary, $alpha: 1);
    }
}