@mixin transition {
    transition: all .3s ease-in-out;
}

@mixin hidden {
    opacity: 0;
    visibility: hidden;
}

@mixin show {
    opacity: 1;
    visibility: visible;
}

@mixin img($property) {
    width: 100%;
    height: auto;
    object-fit: $property;
    position: absolute;
    top: 0;
    left: 0;
}

@mixin position_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin middle_clear {
    position: unset;
    top: 0%;
    left: 0%;
    transform: translate(0, 0);
}

@mixin position_left {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin position_right {
    position: absolute;
    top: 0;
    right: 0;
}

@mixin font-70 {
    font-size: 70px;
    line-height: calc(106px/70px);
    @include xxl {
        font-size: 60px;
    }
    @include xl {
        font-size: 60px;
    }
    @include lg {
        font-size: 40px;
    }
    @include md {
        font-size: 36px;
    }
    @include sm {
        font-size: 30px;
    }
    @include xsm {
        font-size: 26px;
    }
}

@mixin font-40 {
    font-size: 40px;
    line-height: calc(60px/40px);
    @include xl {
        font-size: 32px;
    }
    @include lg {
        font-size: 28px;
    }
    @include md {
        font-size: 26px;
    }
    @include sm {
        font-size: 22px;
    }
}

@mixin font-50 {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 800;
    @include xl {
        font-size: 44px;
    }
    @include lg {
        font-size: 38px;
    }
    @include md {
        font-size: 32px;
    }
    @include sm {
        font-size: 28px;
    }
}

@mixin font-36 {
    font-size: 36px;
    line-height: calc(55px/36px);
    @include lg {
        font-size: 32px;
    }
    @include md {
        font-size: 28px;
    }
    @include sm {
        font-size: 24px;
    }
}
@mixin font-38 {
    font-size: 38px;
    line-height: 1.2;
    font-weight: 800;
    @include lg {
        font-size: 30px;
    }
    @include md {
        font-size: 26px;
    }
    @include sm {
        font-size: 22px;
    }
}

@mixin font-28{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 800;
    @include md{
        font-size: 24px;
    }
    @include sm{
        font-size: 20px;
    }
}

@mixin font-22 {
    font-size: 22px;
    line-height: 1.2;
   
    @include md {
        font-size: 20px;
    }
    @include sm {
        font-size: 18px;
    }
}
@mixin font-21 {
    font-size: 20px;
    line-height: 1.5;
    @include sm {
        font-size: 18px;
    }
}

@mixin font-18 {
    font-size: 18px;
    line-height: 1.5;
    @include mmd {
        font-size: 16px;
    }
}

@mixin flex(){
    display: flex;
    align-items: center;
}

@mixin color_shape{    
    content: "";
    position: absolute;
    background-color: $primary;
    border-radius: 100%;
    z-index: -1;
    opacity: .20;
    filter: blur(300px);
    --width: 570px;
    width: var(--width);
    height: var(--width);
}