@font-face {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 300;
    src: url('NeueMachina-Light.woff2') format('woff2'),
        url('NeueMachina-Light.woff') format('woff'),
        url('NeueMachina-Light.otf') format('otf');
}

@font-face {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    src: url('NeueMachina-Regular.woff2') format('woff2'),
        url('NeueMachina-Regular.woff') format('woff'),
        url('NeueMachina-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 800;
    src: url('NeueMachina-Ultrabold.woff2') format('woff2'),
        url('NeueMachina-Regular.woff') format('woff'),
        url('NeueMachina-Regular.otf') format('otf');
}